src/test/Test.java
src/antlr/WACCParser.java
src/antlr/WACCParserVisitor.java
src/antlr/WACCLexer.java
src/antlr/WACCParserBaseVisitor.java
src/SemanticChecker.java
src/utils/SymbolTable.java
src/utils/Utils.java
src/utils/ErrorHandler.java
src/utils/ControlFlowGraph.java
src/Compiler.java
src/Test.java
src/type/BasicTypeEnum.java
src/type/PairType.java
src/type/Type.java
src/type/BasicType.java
src/type/ArrayType.java
src/node/Node.java
src/node/expr/PairNode.java
src/node/expr/FunctionCallNode.java
src/node/expr/IdentNode.java
src/node/expr/CharNode.java
src/node/expr/ExprNode.java
src/node/expr/StringNode.java
src/node/expr/BoolNode.java
src/node/expr/BinopNode.java
src/node/expr/ArrayNode.java
src/node/expr/UnopNode.java
src/node/expr/ArrayElemNode.java
src/node/expr/IntegerNode.java
src/node/ProgramNode.java
src/node/stat/ReadNode.java
src/node/stat/PrintlnNode.java
src/node/stat/StatNode.java
src/node/stat/ReturnNode.java
src/node/stat/DeclareNode.java
src/node/stat/ExitNode.java
src/node/stat/ScopeNode.java
src/node/stat/PrintNode.java
src/node/stat/SkipNode.java
src/node/stat/FreeNode.java
src/node/stat/SeqNode.java
src/node/stat/WhileNode.java
src/node/stat/AssignNode.java
src/node/stat/IfNode.java
src/node/FuncNode.java
